@import 'reset';
@import 'left-bar';
@import 'main';

%padding-all {
    padding: 40px;
    box-sizing: border-box;
}

.body-container {
    display: flex;
    font-family: 'Inter', sans-serif;
    font-weight: 600;




    .right-bar {
        @extend %padding-all;
        width: 384px;

    }


}